<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BouncingGame.Properties.GameSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BouncingGame.Properties.GameSetting>
            <setting name="ListBall" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="SelectedId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TotalCoin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HighScore" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsMuted" serializeAs="String">
                <value>False</value>
            </setting>
        </BouncingGame.Properties.GameSetting>
    </userSettings>
</configuration>